html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    background: rgba(245, 245, 245, 0.87);
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
}

.box input[type="text"],
.box input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 6px;
}

.box .btn {
    width: 100%;
    margin-top: 10px;
}